.places_heading-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 6rem;
        text-align: center;
        background: linear-gradient(70deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
}

.place_container{
background-color: black;
}
.places_heading{
display: flex;
flex-direction: column;
justify-content: center;
}
.places_heading-title{

}
.places_heading_text {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: .85rem;


text-align: center;
color: #FFFFFF;
padding-inline: 20rem;
}
.places_heading_search{

}
.places_recommented{

}
.places_recommented_heading{
display: flex;
padding-top: 2rem;
padding-left: 2rem;
}
.places_recommented_heading1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    background: linear-gradient(93.33deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.places_recommented_heading2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #FFFFFF;
}
.places_recommented_cards{

}
.places_recommented_card{

}