.places_heading-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 6rem;
    text-align: center;
    background: linear-gradient(70deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.place_container {
    background-color: black;
    /* height: 100vh; */
}

.places_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.places_heading_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .85rem;
    text-align: center;
    color: #FFFFFF;
    /* padding-inline: 20rem; */
    width: 80%;
    margin: auto;
}

.places_heading_search {
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
}

.place__img {
    height: 15rem;
    width: 100%;
}

.places_recommented_cards {
    color: white;
    width: 90%;
    margin: auto;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.places__top__left {
    width: 90%;
    display: flex;
}

.places__top__left__right {
    margin-left: 1rem;
    width: 45%;
}

.place__top__left__left {
    width: 65%;
}

.place__left__details {
    width: 100%;
}

.places_recommented_heading {
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
}

.places_recommented_heading1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    background: linear-gradient(93.33deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.place__details__para {
    color: white;
}

.places__details__p {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.places_recommented_heading2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-left: 1.2rem;
}

.places_searchbar {
    width: 19rem;
    height: 2rem;
    border-color: #E7A900;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.places__div__bottom {
    width: 90%;
}