.places__main_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: black;
}

.place__pg_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 87px;
    /* identical to box height */
    letter-spacing: 0.01em;
    /* Linear */
    background: linear-gradient(93.33deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.places_heading_text {
    color: white;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places_searchbar {
    width: 19rem;
    height: 2rem;
    border-color: #E7A900;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.places__cards_container {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.place__card__content {
    z-index: 1;
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}


/* .place__card {
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    background: rgba(254, 245, 245, 0.09);
   
    border: 3px solid white;
    border-radius: 1rem;
   
} */

.place__card {
    width: 20rem;
    height: 21rem;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border: solid 2px transparent;
    ;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 30px;
}


/* @keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.place__card_pimg {
    height: 11rem;
    width: 95%;
    border-radius: 1rem;
}

.place__card_pname {
    color: white;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: system-ui;
}


/* .place__card_v_btn {
    background-color: rgba(254, 245, 245, 0.09);
    border: 1px solid #ffff;
    color: #ffff;
  
    display: flex;
    width: fit-content;
    height: 2rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
} */


/* .place__card_b_btn {
    color: #ffff;
    background: #006360;
    display: flex;
    width: fit-content;
    height: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    border: #006360;
} */

.place__card__btns {
    width: 100%;
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
}


/* .place__card__cbt {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
} */

.place__card__cbt {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #333;
    border: none;
    color: #fff;
    margin: .5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    background: linear-gradient(93.33deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
}

.places__main__heading {
    color: rgb(255, 254, 253);
    font-size: 3rem;
    font-family: Antonio;
    font-weight: bold;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .place__card {
        height: 19rem;
        width: 30rem;
    }
    .place__card__cbt {
        font-size: .8rem;
    }
    .place__card_pimg {
        height: 6rem;
    }
}

@media (min-device-width: 650px) and (max-device-width: 800px) {
    .place__card {
        width: 60%;
        height: 18rem;
        padding: 2rem;
    }
    .places__cards_container {
        flex-wrap: wrap;
        padding: 1rem;
    }
    .place__card__cbt {
        font-size: .8rem;
    }
    .place__card_pname {
        font-size: 1rem;
    }
    .place__card_pimg {
        height: 6rem;
    }
}

@media (min-device-width: 250px) and (max-device-width: 650px) {
    .place__card {
        width: 100%;
        height: 18rem;
        padding: 2rem;
    }
    .places__cards_container {
        flex-wrap: wrap;
        padding: 1rem;
    }
    .place__card__cbt {
        font-size: .8rem;
    }
    .place__card_pname {
        font-size: 1rem;
    }
    .place__card_pimg {
        height: 6rem;
    }
}

@media screen and (max-device-width: 250px) {
    body {
        display: none;
    }
}