.reviewpg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviewpg__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: transparent;
    /*  */
    background: linear-gradient(180deg, #fff, #40edf7);
    background: linear-gradient(93.33deg, #C33028 -1.81%, #FC823D 52.17%, #E7A900 115.97%);
    -webkit-background-clip: text;
}

.reviewpg__heading {
    font-size: 2rem;
    color: white;
    margin: 1rem;
}

.review__div {
    border-radius: 1rem;
    display: flex;
    /* // margin-bottom: 20px; */
    width: 80%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border: solid 2px transparent;
    color: white;
    font-size: 1.5rem;
    margin: auto;
}

.rev__user__img {
    border-radius: 1rem 0rem 0rem 1rem;
    height: 25rem;
}

.user__rev__star {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.rev__details {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rev__content{
    width:33rem;
}